<h3>This is the search</h3>

{{!-- I enter a player into the search box,
the entry is injected into an sql query
the query result is printed to the html --}}


<h2> Search a Player</h2>
<form id='search-player'>
<div class="form-group">
    <label for='ps'>Player Name:</label>
    <input type="text" id="ps" name="name">
</div>
<button type="submit">Search!</button>
</form>